<div class="container">
  <div class="row habitacions-info">
    <div class="col info-text">
      <h1>Information about the habitacions</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deleniti eum nostrum est consequuntur aliquid tempore beatae vitae fugiat, dicta praesentium!
      Dolorum amet consequuntur eveniet repellat rem aliquid ex neque voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deleniti eum nostrum est consequuntur aliquid tempore beatae vitae fugiat, dicta praesentium!
      Dolorum amet consequuntur eveniet repellat rem aliquid ex neque voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deleniti eum nostrum est consequuntur aliquid tempore beatae vitae fugiat, dicta praesentium!
      Dolorum amet consequuntur eveniet repellat rem aliquid ex neque voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Deleniti eum nostrum est consequuntur aliquid tempore beatae vitae fugiat, dicta praesentium!
      Dolorum amet consequuntur eveniet repellat rem aliquid ex neque voluptate? Deleniti eum nostrum est consequuntur aliquid tempore beatae vitae fugiat, dicta praesentium!
      Dolorum amet consequuntur eveniet repellat rem aliquid ex neque voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="col info-photos">
      <h1>Photos</h1>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links-left">
    <a href="https://wa.me/<+31655376679>"><i class="fab fa-whatsapp"></i></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-address">
    <a href="https://www.google.com/maps/dir/19.420461,-99.1566962/lodyssee+mazunte/@17.5303612,-100.3760705,7z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x85b929e0ad6a2023:0xb81075f82a8eb5e!2m2!1d-96.5559711!2d15.6647466"><i class="fas fa-map-marker-alt"></i></a>
  </div>
  <div class="footer-links-right">
      <a href="mailto:fremont.em@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fas fa-phone-alt"></i></a>
  </div>
</div>
