.footer {
  background: #172016;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgb(240, 240, 240);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #172016;
  background-color: rgb(240, 240, 240);
}

.footer-links-left {
  display: flex;
  a {
    margin-right: 10px;
  }
}

.footer-links-right {
  display: flex;
  a {
    margin-left: 10px;
  }
}
